{% extends "base.html" %}
{% block title %}
EMDB - Actors
{% endblock %}
{% block content %}
{% for actor in actors %}
<div id="head_shot_div">
    <img id="head_shot_img" src="../static/imgs/head_shot/{{ actor['head_shot'] }}" />
</div>
<div id="actor_info">
    <h3>{{ actor['first_name'] }} {{ actor['father_name'] }} {{ actor['grand_father_name'] }}</h3>
    <li>{{ actor['birth_date'] }}</li>
    <li>{{ actor['death_date'] }}</li>
    <li>{{ actor['height'] }}</li>
</div>
{% endfor %}
{% endblock %}