{% extends "base.html" %}
{% block title %}
EMDB - Admininstrator
{% endblock %}
{% block content %}
<!--People Form Start-->
<form action="{{ url_for('admin') }}" method="POST" enctype="multipart/form-data" id="people_form" class="form_sizer">
  <fieldset>
    <legend>Actors</legend>
    {{ form.csrf_token }}
    {{ form.FirstName.label(class="form-label") }}
    {{ form.FirstName(class="form-control") }}
    {{ form.FatherName.label(class="form-label") }}
    {{ form.FatherName(class="form-control") }}
    {{ form.GrandFatherName.label(class="form-label") }}
    {{ form.GrandFatherName(class="form-control") }}
    {{ form.Height.label(class="form-label") }}
    {{ form.Height(class="form-control") }}
    {{ form.HeadShot.label(class="form-label") }}
    {{ form.HeadShot(class="form-control") }}
    {{ form.BirthDate.label(class="form-label") }}
    {{ form.BirthDate(class="form-control") }}
    {{ form.DeathDate.label(class="form-label") }}
    {{ form.DeathDate(class="form-control") }}
    {{ form.BtnActor(class="btn btn-primary") }}
  </fieldset>
</form>
<!--People Form End-->

<!--Language Form Start-->
<form action="{{ url_for('admin') }}" method="POST" id="language_form" class="form_sizer">
  <fieldset>
    <legend>Language</legend>
    {{ form1.csrf_token }}
    {{ form1.Language.label(class="form-label") }}
    {{ form1.Language(class="form-control") }}
    {{ form1.BtnLanguage(class="btn btn-primary") }}
  </fieldset>
</form>
<!--Language Form End-->

<!--Genre Form Start-->
<form action="{{ url_for('admin') }}" method="POST" id="genre_form" class="form_sizer">
  <fieldset>
    <legend>Genre</legend>
    {{ form2.csrf_token }}
    {{ form2.Genre.label(class="form-label") }}
    {{ form2.Genre(class="form-control") }}
    {{ form2.BtnGenre(class="btn btn-primary") }}
  </fieldset>
</form>
<!--Genre Form End-->

<!--PG Rating Form Start-->
<form action="{{ url_for('admin') }}" method="POST" id="pg_rating_form" class="form_sizer">
  <fieldset>
    <legend>PG Rating</legend>
    {{ form3.csrf_token }}
    {{ form3.PGRating.label(class="form-label") }}
    {{ form3.PGRating(class="form-control") }}
    {{ form3.BtnPGRating(class="btn btn-primary") }}
  </fieldset>
</form>
<!--PG Rating Form End-->

<!--Movie Form Start-->
<form action="{{ url_for('admin') }}" method="POST" id="movie_form" class="form_sizer">
  <fieldset>
    <legend>Movies</legend>
    {{ form4.csrf_token }}
    {{ form4.Title.label(class="form-label") }}
    {{ form4.Title(class="form-control") }}
    {{ form4.Cover.label(class="form-label") }}
    {{ form4.Cover(class="form-control") }}
    {{ form4.ReleaseDate.label(class="form-label") }}
    {{ form4.ReleaseDate(class="form-control") }}
    {{ form4.Duration.label(class="form-label") }}
    {{ form4.Duration(class="form-control") }}
    {{ form4.Synopsis.label(class="form-label") }}
    {{ form4.Synopsis(class="form-control") }}
    {{ form4.OfficialWebsite.label(class="form-label") }}
    {{ form4.OfficialWebsite(class="form-control") }}
    {{ form4.Budget.label(class="form-label") }}
    {{ form4.Budget(class="form-control") }}
    {{ form4.BtnMovie(class="btn btn-primary") }}
  </fieldset>
</form>
<!--Movie Form End-->
{% endblock %}