{% extends "base.html" %}
{% block title %}
EMDB - Movies
{% endblock %}
{% block content %}
{% for movie in movies %}
<div id="movie_container">
    <div id="cover_img_div">
        <img id="cover_img" src="../static/imgs/cover/{{ movie['cover'] }}" />
    <div id="tlr">
        <h3 id="movie_title">{{ movie['title'] }}</h3>
        <p>Duration: {{ movie['duration']}}</p>
        <p>Release Date: {{ movie['release_date'] }}</p>
    </div>
    </div>
    <div id="movie_extra_info">
        <p>Official Website: <a href="{{ movie['official_website'] }}">{{ movie['title'] }}</a></p>
        <p>Budget: {{ movie['budget'] }}</p>
        <p>Synopsis:</p>
        <p>{{ movie['synopsis'] }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}